h1{
    color: rgb(195, 195, 230);
    background-color: rgb(81, 34, 122);
}
body{
    background-color: bisque;
}
h6{
    font-family: sans-serif;
    font-size: 2em;
    color: rgb(167, 42, 131);
    text-align: center;
}